Secret token for public client using authorization code grant

as stated in https://tools.ietf.org/html/draft-ietf-oauth-native-apps-12#section-8.5

```
Secrets that are statically included as part of an app distributed to
   multiple users should not be treated as confidential secrets, as one
   user may inspect their copy and learn the shared secret.  For this
   reason, and those stated in Section 5.3.1 of [RFC6819], it is NOT
   RECOMMENDED for authorization servers to require client
   authentication of public native apps clients using a shared secret,
   as this serves little value beyond client identification which is
   already provided by the "client_id" request parameter.
```

is there a plan to allow `authorization code grant` without `client_secret` for `public clients` ?

Right now generating `access_token` without `secret_code` returns `401`

```ruby
params = {
  client_id:    "d47f9dd61dbc4a8393188414d2dffe141f571ad6fc41b4824aff1ebdae7e8140",
  code:         "1347d04acbe35d67e07580a02edd3e36cc9274336374b1667a8aa297a2de3c14",
  grant_type:   "authorization_code",
  redirect_uri: "urn:ietf:wg:oauth:2.0:oob",
}

RestClient.post 'http://localhost:3000/oauth/token', params
#=> RestClient::Unauthorized: 401 Unauthorized

params[:client_secret] = "50c1e44cf4be4de9ad960a82079b7254acc1bf8f2a0f476045f044127518dcdd"

RestClient.post("http://localhost:3000/oauth/token", params).body
#=>
{
 "access_token"=>"4079f12c7de20c4e3c9f4a7cc5b6552f15a82136244cea6c5fcbc3973184b7b7",
 "token_type"=>"bearer",
 "expires_in"=>7200,
 "refresh_token"=>
 "8b4fd7092cf1a4979f1085c307e1ce07ae187a350c0a683889481383bf075cf9",
 "created_at"=>1510242157
}
```


I could work on it in my free time but first I need to know maintainer opinion ;)

You should use Implicit grant flow for public clients. The implicit grant type is used for mobile apps and web applications, where the client secret confidentiality is not guaranteed.

Authorization code flow is meant for non public clients where client_secret confidentiality can be maintained.

> You should use Implicit grant flow for public clients. The implicit grant type is used for mobile apps and web applications, where the client secret confidentiality is not guaranteed. This flow does not require client_secret.

nope not really

https://tools.ietf.org/html/draft-ietf-oauth-native-apps-12#page-11

```
8.2.  OAuth Implicit Grant Authorization Flow

   The OAuth 2.0 implicit grant authorization flow as defined in
   Section 4.2 of OAuth 2.0 [RFC6749] generally works with the practice
   of performing the authorization request in the browser, and receiving
   the authorization response via URI-based inter-app communication.
   However, as the implicit flow cannot be protected by PKCE [RFC7636]
   (which is a required in Section 8.1), the use of the Implicit Flow
   with native apps is NOT RECOMMENDED.

   Tokens granted via the implicit flow also cannot be refreshed without
   user interaction, making the authorization code grant flow - which
   can issue refresh tokens - the more practical option for native app
   authorizations that require refreshing.
```

bump @tute @maclover7 @piotrj 

@nbulaj just because you are new maintainer ;)

Hi @lefty313 . I will take a look at this a little bit later, currently I have some work to do

@nbulaj no problem take your time I wont bump it again ;)

Hi @lefty313 . Yep, looks like you are right. There are already a man who want's something similiar, you can [look at this comment](https://github.com/doorkeeper-gem/doorkeeper/issues/1021#issuecomment-364674815) and cooperate to send a PR

Hi @lefty313, I've already extended Doorkeeper in my own projects to not require `client_secret` when an app is configured to be non-confidential (albeit not in a way fitting for mainlining into Doorkeeper).

In my opinion, an Application should defined at time of creation whether or not its intended to be used publicly or privately. This, combined with the authentication strategy, will let Doorkeeper decide to ignore the `client_secret` requirement.

However, this stance comes with a breaking change: confidential apps should not use Implicit because that's not a grant type you'd use in a server-to-server setting. Additionally, non-confidential/public apps should not use Authorization Code (assuming PKCE mode is available). With Client Credentials, there can be debate about the pros and cons of disallowing it on public clients as well... Hell, you could even divide up the grant types available to each private & public apps to be mutually exclusive. 

In the spirit of incremental improvement, I can just focus on making `client_secret` optional for public apps and not force any restrictions on the available grant types. 

Hi @lefty313 . You can check current `master` to get requested functionality

Ping @lefty313

Stale issue, no activity. Check master branch for requested functionality. Currently closing