RFC 6749 section 4.1.3 compliance inquiry

Trying to confirm if Doorkeeper is compliant with [RFC 6749 section 4.1.3](https://tools.ietf.org/html/rfc6749#section-4.1.3), specifically the requirement for "application/x-www-form-urlencoded" in the request body. If so, where is the relevant code fragment? Clues welcomed.

Hi @RobWilco. `Content-Type: application/x-www-form-urlencoded` should work fine. Some samples I have found:

* https://github.com/doorkeeper-gem/doorkeeper/wiki/Client-Credentials-flow
* https://github.com/doorkeeper-gem/doorkeeper/issues/325
* https://github.com/iamcam/doorkeeper-api-provider

What do you expect, and what do you get instead?

I was running into trouble making a request using an `application/x-www-form-urlencoded` request body.

Today I was told the latest version of Doorkeeper is being used ... and it's now working when I use Postman, which is good.

I've moved on to trying to get Python requests-oauthlib to work with it now (which I realize is likely out of scope for this ticket), using something akin to:

```
from oauthlib.oauth2 import LegacyApplicationClient
import requests
from requests_oauthlib import OAuth2Session

# ... Get all the bits for kwargs ...

kwargs = {
    'username': account.nickname,
    'password': account.password,
    'token_url': token_url,
    'client_id': client_id,
    'client_secret': client_secret,
}

client = LegacyApplicationClient(client_id=client_id)
oauth = OAuth2Session(client=client)
token = oauth.fetch_token(**kwargs)
```

Except I'm told the `access_token` parameter is missing. `LegacyApplicationClient`, as I understand it, should not require that. (This client type even adds a `grant_type` of `password` for me.) Hmm ...

This issue doesn't seem like a bug in doorkeeper, and seems very specific to your code. Sorry I don't have the time now to help you with this question, and thanks!