Issue with client secret for password grant type

Why is the client secret required for PasswordAccessTokenRequest to generate access tokens associated with the application for the given client id? Most of the use cases for password grants will be mobile or desktop apps, where the secret cannot be protected, isn't it?


>  require client authentication for confidential clients or for any
      client that was issued client credentials (or with other
      authentication requirements),

As of https://tools.ietf.org/html/rfc6749#section-4.3.2 it should be conditional to the secret being present:

>  require client authentication for confidential clients or for any client that was issued client credentials (or with other authentication requirements),

Which means indeed it should not be required. Is it always required right now?

I've came across this problem right now.

@tute The client_secret is not required by doorkeeper... in fact it creates the token happily with the application_id column in `NULL`

I can provide a docker-compose project with a rails app exhibiting this undesired behavior...

This seems to be the problem: at [lib/doorkeeper/oauth/password_access_token_request.rb, line 22](https://github.com/doorkeeper-gem/doorkeeper/blob/79870626e6581bb48e3f3da7900fa369ab9f51f7/lib/doorkeeper/oauth/password_access_token_request.rb#L22)

```ruby
def initialize(server, credentials, resource_owner, parameters = {})
  @server          = server
  @resource_owner  = resource_owner
  @credentials     = credentials
  @original_scopes = parameters[:scope]

  if credentials
    @client = Application.by_uid_and_secret credentials.uid,
                                                  credentials.secret
  end
end
```

If [the RFC specification](https://tools.ietf.org/html/rfc6749#section-4.3.2) is to be followed, then finding the client application by uid *AND* secret is preventing doorkeeper from assigning the client application reference to the token.

Are you accepting PR's @tute?


The same seems to apply to AuthorizationCodeRequest, as per the [RTF spec](https://tools.ietf.org/html/rfc6749#section-4.1.3).

However, when requesting an access token without the client_secret, this time the server responds with an `HTTP 401 Unauthorized` message:
```json
{"error":"invalid_client","error_description":"Client authentication failed due to unknown client, no client authentication included, or unsupported authentication method."}
```

Diggin' deeper in the code, there seems to be an omission in the doorkeeper's interpretation of the "Client Credentials" concept (See: [Client Types](https://tools.ietf.org/html/rfc6749#section-2.1)), which states that there are two kinds of Clients: "confidential" and "public" , and allows different characteristics for their respective client credentials (If I'm getting the "The authorization server *SHOULD NOT* make assumptions about the client type" part correct):
  - Presence of the `client_secret` for "confidential" clients (because they can keep the confidentiality of their credentials - ie: server apps)
  - Absence of the `client_secret` for "public" clients (because they can't keep the confidentiality of their credentials - ie: javascript in-browser apps)

So the actual root of the problem seems to be the [`Doorkeeper::OAuth::Client::Credentials` class, at the line 15](https://github.com/doorkeeper-gem/doorkeeper/blob/79870626e6581bb48e3f3da7900fa369ab9f51f7/lib/doorkeeper/oauth/client/credentials.rb#L15) (Doorkeeper code is actually very nice and clear!), which ignores "public" client credentials because the lack of `client_secret`:
```ruby
def blank?
  uid.blank? || secret.blank?
end
```

Can anyone validate if this was on purpose or not?

Further investigation: [RFC6819: Client Types](http://tools.ietf.org/html/rfc6819#section-3.7)

Stepping ahead to this needing fixing, I've [forked & started](https://github.com/vovimayhem/doorkeeper/tree/fix/access-token-requests-without-client-secret-should-create-a-token-associated-with-the-app).

@vovimayhem Great, looking forward to your change / PR!

:+1: 

Thank you all for your work. I'll be busy for the upcoming week at least, will provide my input later! Thanks again.

I'll revert my changes in the `ClientCredentials` class, as I felt something was off with my interpretation. Focusing on the `PasswordAccessTokenRequest` class...

> Diggin' deeper in the code, there seems to be an omission in the doorkeeper's interpretation of the "Client Credentials" concept (See: Client Types), which states that there are two kinds of Clients: "confidential" and "public" , and allows different characteristics for their respective client credentials (If I'm getting the "The authorization server SHOULD NOT make assumptions about the client type" part correct) [...]

It seems you are correct. Right now doorkeeper treats every client the same, but there's a difference between a client that can keep secrets (say, a server side app), versus one that can't (like a mobile app for example). I'm in favor of a PR addressing this.

Thanks for your time and input, @vovimayhem.

I had my PM assign me some time to work on this issue, as we're also using doorkeeper in our app :)

We need more PMs like yours. :+1: :)

This is a temporary solution; not as efficient as I wish because as you can see it makes an extra non-cachable query to the database.

```ruby
Doorkeeper.configuration.token_grant_types << "password"

Doorkeeper.configuration.client_credentials_methods << Proc.new{ |request|
	if request.parameters[:grant_type] == 'password' and client_id = request.parameters[:client_id]
		Doorkeeper::Application.by_uid(client_id).try(:attributes).try(:values_at, 'uid', 'secret')
	end
}
```

@tute (or anyone)

At [RFC 6749 Section 2.3](https://tools.ietf.org/html/rfc6749#section-2.3):
> The authorization server MAY establish a client authentication method with public clients.  However, the authorization server MUST NOT rely on public client authentication for the purpose of identifying the client.

How does this two statements relate to the token being issued with or without the associated application id? 

OK guys. It seems that [RFC 6749 Section 2.3](https://tools.ietf.org/html/rfc6749#section-2.3) and [this discussion reply](http://stackoverflow.com/questions/6190381/how-to-keep-the-client-credentials-confidential-while-using-oauth2s-resource-o/6217429#6217429):
> The problem is, as you point out, there is no way for my API server to securely verify the client_id of the app. If I include a client_secret in the app code/package, then it's exposed to anyone who installs the app, so requiring a client_secret wouldn't make the process any more secure. So basically, any other app can impersonate my app by copying the client_id.

They both make the case for me to not change the current behavior by default.

...or anyhow mark the issued token with a `validated_client = false` flag or something...

I think that's a reasonable option. There are times when we want to know who the API clients are but not for security reasons (e.g. just to gather statistics). A flag would give us that flexibility.

I look forward to see this fix apply as well.

@gottfrois 

How about [this](https://github.com/xendoc/rack-re_signer/)?
> I look forward to see this fix apply as well. In the mean time, is it reasonable to simply throw the client secret token in the browser based application?

It should limit scopes for each client. or #672
> Also a question I can't get my head off. Is there a way to allow password grant flow only for whitelisted applications? Otherwise nothing could stop someone to look at my app client_id and use it to build a 3rd party application requiring username/password and use my client_id to authenticate (storing user passwords during the process for evil reasons). Am i missing something?

Hey @vovimayhem, what is the status of your PR?
I would like to see Doorkeeper supporting public/confidential client types for the `client_credentials` grant as being able to use public client uid for the `password` one.
I could continue your work and start a new PR if @tute is up for that. :balloon: 

No progress since then. Had to stop working on that as I changed jobs... Somewhere in the middle I had a change of heart and thought that my proposed PR was actually asking to defeat a security feature.

Please, by all means continue from where I left of (or start from scratch if you must) if you are willing to work on that :)

@vovimayhem @tute new PR submitted! https://github.com/doorkeeper-gem/doorkeeper/pull/777

If client authentication is removed from the password grant flow, what is the benefit in using OAuth2? I guess you still exchange user credentials for a short-lived access token (and refresh token), but at that point it seems anyone can write an application that talks to your service without having to register their application with your service. 

That seems to open a large security hole or am I missing something? Perhaps that's acceptable for certain services but it's definitely not acceptable for mine.

I was actually considering adding a doorkeeper configuration option that would require client authentication and disallow public clients (e.g. disallow_public_clients or require_client_authentication), since I only want to trust confidential clients that have been registered to access my service.

@patrice In our case we need to allow public clients (mobile apps and js web app) to use the `password` grant flow and we still require the `client_id`. As you said, you still need to have the user credentials to get a token, so I think it's secure enough. Somebody could still steal a `client_id` and build its own app to let user access the service, but I don't think that could be considered as a _large_ security hole.

If you want to enforce the presence of the `client_secret` you can easily doing so on your config:

``` ruby
Doorkeeper.configure do
  resource_owner_from_credentials do |_routes|
    if Doorkeeper::Application.by_uid_and_secret(params[:client_id], params[:client_credential])
      User.authenticate!(params[:username], params[:password])
    end
  end
end
```


IMHO, the OAuth spec missed the boat(Gasp!) by not requiring the client id when retrieving access token in password grant flow. 

Enforcing a client id during password grant flow allows both the resource owner and the provider to manage tokens and to know to which application they were issued for.  This in turn actually adds a layer of security. For example, if someone's mobile phone is stolen, they then can go to a provider's interface and revoke the token that was issued for their mobile app. 

An attacker can certainly copy the client id, but they still need to authenticate with resource owner credentials or go through other grant types where you need a secret.

@thibaudgg your approach is insecure because I believe currently there is no way to specify which grants an application can use. Therefore, an attacker can use your client id/secret to go through implicit or client credentials grant flow and get a token.

That said, is it possible for doorkeeper configurations to add a validation to require client id? 
In lieu of Doorkeeper supporting a validation on client_id, what are people's thoughts on something like this:

```ruby
Doorkeeper.configure do
  resource_owner_from_credentials do |_routes|
    application = Doorkeeper::Application.by_uid(params[:client_id])
    if application
      # manually inject secret into params server side so that Doorkeeper associates token with application
      params[:client_secret] = application.secret 
      User.authenticate!(params[:username], params[:password])
    end
  end
end
```

> @thibaudgg your approach is insecure because I believe currently there is no way to specify which grants an application can use. Therefore, an attacker can use your client id/secret to go through implicit or client credentials grant flow and get a token.

Our app only support `password` and `client_credentials` grant flows. The `password` flow requires at least the `client_id` and the `client_secret` is only sent by confidential client, therefor I don't think there's any security issues here.

Ok, yea if you're using password flow with secret for trusted client, then you should be ok. We are using password flow for our mobile app and thus should not include secret...

> If client authentication is removed from the password grant flow, what is the benefit in using OAuth2?

In https://github.com/doorkeeper-gem/doorkeeper/commit/2115a5243b4663090b49c872a1837f6dda6b0b91 I dropped password grant flow from defaults because of it's [inherent security risks](https://tools.ietf.org/html/rfc6819#section-4.4.3). The [relevant initializer section](https://github.com/doorkeeper-gem/doorkeeper/blob/v4.0.0.rc3/lib/generators/doorkeeper/templates/initializer.rb#L80-L96) has a comment telling users to keep that in mind before enabling it.

Requiring the secret in Password flow is pointless for apps a user installs because we can't keep secrets there. Also, the spec says we may or may not authenticate clients (only if the secret is present). @thibaudgg has an example where that provides extra security (his app is confidential).

Wanted to post my thoughts before moving forward with @thibaudgg's https://github.com/doorkeeper-gem/doorkeeper/pull/777.