Change redirect URIs to use simple string comparison

Redirect URIs must be compared using exact string matching as per [Section 4.1.3](https://rfc-editor.org/rfc/rfc9700#section-4.1.3) of [RFC9700](https://www.ietf.org/archive/id/draft-ietf-oauth-v2-1-15.html#RFC9700).

When comparing the two URIs the authorization server MUST ensure that the two URIs are equal, see [Section 6.2.1](https://rfc-editor.org/rfc/rfc3986#section-6.2.1) of [[RFC3986](https://www.ietf.org/archive/id/draft-ietf-oauth-v2-1-15.html#RFC3986)], Simple String Comparison, for details

Currently doorkeeper's redirect URI validation allows lax matching, which can create security issues.

Hello @ThisIsMissEm , I think current implementation (in the `main` branch) currently follows RFC requirements 👀  The comparison uses simple string matching as the primary mechanism. The only relaxation is the loopback port exception,  which is explicitly permitted by RFC 8252 §7.3 for native app development.

Do you have an example or maybe can provide a test scenario? IIRC these were the latest changes for the validation - https://github.com/doorkeeper-gem/doorkeeper/pull/1871

Oh! I'd completely missed that PR, this can definitely be marked as closed then.