why allow create oauth application with redirect_uri that has query params but cannot request

### Steps to reproduce
1. Create an application with redirect_uri that has query params like `https://github.com?allow=yes`. It works and no validate errors.
2. When test oauth request, which is http://localhost/oauth/authorize?client_id=xxxxxxx&redirect_uri=https%3A%2F%2Fgithub.com%3Fallow%3Dyes&response_type=code,  it render the invalid_redirect_uri page.


### Expected behavior
I hope the behavior of application's creation with query params and request oauth is the same, both allow or neither allow.

And I saw the source code.

1. when create application, the validation of query params is absent.   https://github.com/doorkeeper-gem/doorkeeper/blob/644d2ceb41411b9b320a6c8ee769762b37deba01/app/validators/redirect_uri_validator.rb#L8

2. when request the oauth, it checks the query params.   
https://github.com/doorkeeper-gem/doorkeeper/blob/master/lib/doorkeeper/oauth/helpers/uri_checker.rb#L15

Thank you!



@nbulaj I can reproduce this issue. I'll see if I can't get a failing spec or PR up

Looks like it was intentionally introduced back in 2012: https://github.com/doorkeeper-gem/doorkeeper/commit/f6ada370419a09f818cbf72e08da30625af6448f

But now the app allows you to explicitly define with query params are allowed, so this logic is now stale and is a bug.

I'll prepare a fix

Hi @f3ndot. I think the bug is in the URIChecker where it removes query params only from requested, and not from the client one. Mentioned commit is too old, I dont remember such method with "matching" word in current code base for app redirect uri

@nbulaj The change in this PR isn't correct per OAuth 2.0 spec, where redirect_uri's must be compared using simple string comparison. i.e., `https://foo.example/callback` and `https://foo.example/callback?bar=true` are **not** the same URI, they are different URIs. Likewise `https://foo.example/callback?bar=true&foo=false` and `https://foo.example/callback?foo=false&bar=true` are **not** the same URI using simple string comparison per spec, they are to be treated as different URIs.

> If the client registration included the full redirection URI, the authorization server MUST compare the two URIs using simple string comparison as defined in [[RFC3986] Section 6.2.1](https://datatracker.ietf.org/doc/html/rfc3986#section-6.2.1).

That is the part of the OAuth 2.0 spec that is relevant here. As the `Doorkeeper::Application` is created with `redirect_uris`, then that is a "full redirection URI" in "client registration"